<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World - Node.js running on IBM Bluemix</title>
    
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src='js/dummy.js'></script>
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>